PortfolioManagementSystem/.vs/PortfolioManagementSystem/FileContentIndex/6273b3aa-b77b-4ed4-9bd1-c97320852511.vsidx  
PortfolioManagementSystem/.vs/PortfolioManagementSystem/FileContentIndex/dfafca34-f98c-4f79-9e53-0e1b759f3a6d.vsidx  
